<div id="inicio">
  <h1 style="font-family:monospace;color:#fff;background:blue;" class="rounded"><i class="fa fa-home" style="font-size:1.0em;"></i>Inicio</h1>
  <div id="carousel">
	<div id="myCarousel" class="carousel slide d-block w-100 p-2" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
		  <li data-target="#myCarousel" data-slide-to="3"></li>
		  <li data-target="#myCarousel" data-slide-to="4"></li>
		  <li data-target="#myCarousel" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner wd-100">
          <div class="carousel-item active img-fluid w-100">
            <img class="first-slide w-100" src="{{ site.url }}/images/17343.jpg" alt="First slide">
            <div class="container">
              <!--<div class="carousel-caption text-left">
                <h1>Example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
              </div>-->
            </div>
          </div>
          <div class="carousel-item wd-100">
            <img class="second-slide w-100" src="{{ site.url }}/images/17344.jpg" alt="Second slide">
            <div class="container">
              <!--<div class="carousel-caption">
                <h1>Another example headline.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
              </div>-->
            </div>
          </div>
          <div class="carousel-item w-100">
            <img class="third-slide w-100" src="{{ site.url }}/images/17345.jpg" alt="Third slide">
            <div class="container">
              <!--<div class="carousel-caption text-right">
                <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
              </div>-->
            </div>
          </div>
		  <div class="carousel-item w-100">
            <img class="fourth-slide w-100" src="{{ site.url }}/images/17346.jpg" alt="Third slide">
            <div class="container">
              <!--<div class="carousel-caption text-right">
                <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
              </div>-->
            </div>
          </div>
		  <div class="carousel-item w-100">
            <img class="fifth-slide w-100" src="{{ site.url }}/images/17347.jpg" alt="Third slide">
            <div class="container">
              <!--<div class="carousel-caption text-right">
                <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
              </div>-->
            </div>
          </div>
		  <div class="carousel-item w-100">
            <img class="sixth-slide w-100" src="{{ site.url }}/images/17348.jpg" alt="Third slide">
            <div class="container">
              <!--<div class="carousel-caption text-right">
                <h1>One more for good measure.</h1>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
              </div>-->
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  
  </div>
</div>