				
				
				<!-- START FOOTER -->
				
				<div id="footer" style="background-color:#000;margin-bottom:20px;">
					<center>
						<div id="pie" class="col-md-24" >
							<br><br>
							<a href="{{ site.url }}/"><span style="margin-left:0px;color:#fff;font-size:0.7em;">Inicio</span></a>
							<a href="{{ site.url }}/quienessomos/"><span style="margin-left:20px;font-size:0.7em;">Quienes</span></a>
							<a href="#"><span style="margin-left:20px;font-size:0.7em;"> Contacto</span></a>
							<a href="{{ site.url }}/blog"><span style="margin-left:20px;font-size:0.7em;"> Blog</span></a>
							<a href="{{ site.url }}/noticias"><span style="margin-left:20px;font-size:0.7em;"> Noticias</span></a>
							<a href="{{ site.url }}/imagenes"><span style="margin-left:20px;font-size:0.7em;"> Imágenes</span></a>
							<a href="http://peñarol.org"><span style="margin-left:20px;font-size:0.7em;">OFICIAL<sup>&reg;</sup></span></a>
							<br><br>
						</div>
					
						<p class="copyright" style="text-transform:none;">Copyright&nbsp;&copy;&nbsp; 2017 All Rights Reserved &nbsp;&bull; <a href="http://xn--tillhrpearol-hhb0e.tk">&nbsp;<span>Tillhör Peñarol</span></a> &nbsp;&bull;&nbsp; Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
					
						<p class="copyright"> Este sitio está construido bajo la licencia de <a href="{{ site.url }}/licencia/"><span>Creative Commons Attribution by 3.0 Unported</span></a></p>
						
					</center>
				</div>
				
				<!-- END FOOTER -->
