<!--   START MENU   -->

<div id="menu">
				
  <!--<div class="container span12" style=";float:left;">-->
    <ul class="btn-group mr-2" role="group" aria-label="First group">
	<li><a href="{{ site.url }}/"><button type="button" class="btn btn-mini btn-secondary" style="margin-top:-8px;margin-left:5px;horizontal-align:5px;"><span class="fa fa-home gi-4x" style="font-weight:900;"> Inicio</span></button></a></li>
	<li><a href="{{ site.url }}/quienessomos/"><button type="button" class="btn btn-mini btn-secondary" style="margin-top:-8px;margin-left:5px;"><i class="fa fa-users"><span style="font-weight:900;vertical-align:0px;margin-left:5px;"> About</span></i></button></a></li>
	<li><a href="{{ site.url }}/contactenos.html"><button type="button" class="btn btn-mini btn-secondary" style="margin-top:-8px;margin-left:5px;"><i class="fa fa-envelope"><span style="font-weight:900;vertical-align:1px;"> Contacto</span></i></button></a></li>
	<li><span small="Sitio optimizado para Google Chrome"></small></li>
	<li><a href="{{ site.url }}/blog"><button type="button" class="btn btn-mini btn-secondary" style="margin-top:-8px;margin-left:5px;"><i class="fa fa-star"><span style="font-weight:900;vertical-align:1px;"> Blog</span></i></button></a></li>
	<li><a href="{{ site.url }}/noticias/"><button type="button" class="btn btn-mini btn-secondary" style="margin-top:-8px;margin-left:5px;"><i><span class="fa fa-globe" style="font-weight:900;vertical-align:0px;margin-left:5px;"> Noticias</span></i></button></a></li>
	<li><a href="{{ site.url }}/editorial/"><button type="button" class="btn btn-mini btn-default active" style="background:#c1b022;margin-top:-8px;"><i><span class="fa fa-star" style="font-weight:900;vertical-align:0px;margin-left:5px;"> Editorial</span></i></button></a></li>
        
    </ul>
    </ul>
  <!--</div>-->
					
</div>
	
<!--   END MENU   -->
