<!--   START MENU   -->

<div id="menu">
				
  <!--<div class="container span12" style=";float:left;">-->
    <ul class="btn-group mr-2" role="group" aria-label="First group">
	<li><a href="{{ site.url }}/"><button type="button" class="btn btn-lg btn-secondary" style="margin-top:-8px;margin-left:5px;horizontal-align:5px;font-family:fantasy;font-size:0.4;font-style:italic;background:yellow;"><span style="font-weight:900;vertical-align:1px;font-family:fantasy;font-style:italic;background:yellow;"> Inicio</span></button></a></li>
	<li><a href="{{ site.url }}/quienessomos/"><button type="button" class="btn btn-mini btn-secondary" style="margin-top:-8px;margin-left:5px;font-family:fantasy;font-size:0.4;font-style:italic;background:yellow;"><span style="font-weight:900;vertical-align:0px;margin-left:5px;"> Quiénes</span></button></a></li>
	<li><a href="{{ site.url }}/contactenos.html"><button type="button" class="btn btn-mini btn-secondary" style="margin-top:-8px;margin-left:5px;background:yellow;"><i class="glyphicon glyphicon-envelope" style="font-family:fantasy;font-size:0.4;font-style:italic;background:yellow;"><span style="font-weight:900;vertical-align:1px;font-family:fantasy;font-style:italic;background:yellow;"> Contacto</span></i></button></a></li>
	<li><span small="Sitio optimizado para Google Chrome"></small></li>
	<li><a href="{{ site.url }}/blog/"><button type="button" class="btn btn-mini btn-secondary" style="margin-top:-8px;margin-left:5px;font-family:fantasy;font-style:italic;background:yellow;"><i class="fa fa-star><span class="fa fa-star" style="font-weight:900;vertical-align:0px;margin-left:0px;font-family:fantasy;font-style:italic;"> Blog</span></i></button></a></li>
	<li><a href="{{ site.url }}/noticias/"><button type="button" class="btn btn-mini btn-secondary" style="margin-top:-8px;margin-left:5px;font-family:fantasy;font-style:italic;background:yellow;"><i class="fa fa-globe<span class="fa fa-globe" style="font-weight:900;vertical-align:0px;margin-left:0px;font-family:fantasy;font-style:italic;"> Noticias</span></i></button></a></li>
    <li><a href="{{ site.url }}/imagenes/"><button type="button" class="btn btn-mini btn-secondary" style="margin-top:-8px;margin-left:5px;font-family:fantasy;font-style:italic;background:yellow;"><span  style="font-weight:900;vertical-align:0px;margin-left:0px;font-family:fantasy;font-style:italic;"> Imágenes</span></button></a></li>
    </ul>

  <!--</div>-->
					
</div>
	
<!--   END MENU   -->
