<div id="menu">
  <ul id="main" style="margin-left:25px;margin-top:9px;">
    <li class="current_page_item"><a class="btn btn-primary" href="/" role="button" style="margin-left:25px;">Inicio</a></li>
    <li><a class="btn btn-primary" href="/servicios/" role="button" style="margin-left:10px;">Servicios</a></li>
    <li><a class="btn btn-primary" href="/nosotros/" role="button" style="margin-left:10px;">Nosotros</a></li>
    <li><a class="btn btn-primary" href="/contacto/" role="button" style="margin-left:10px;">Contacto</a></li>
  </ul>
</div>
