<!--   START MENU   -->

<div id="menu">
				
  <!--<div class="container span12" style=";float:left;">-->
    <ul class="btn-group mr-2" role="group" aria-label="First group">
		<li><a href="{{ site.url }}/"><button type="button" class="btn btn-mini btn-secondary" style="margin-top:-8px;margin-left:5px;horizontal-align:5px;"><i class="glyphicon glyphicon-home"><span style="font-weight:900;vertical-align:1px;"> Inicio</span></i></button></a></li>
		<li><a href="{{ site.url }}/quienessomos/"><button type="button" class="btn btn-mini btn-secondary" style="margin-top:-8px;margin-left:5px;"><i class="glyphicon glyphicon-user"><span style="font-weight:900;vertical-align:1px;"> About</span></i></button></a></li>
		<li><a href="{{ site.url }}/contacto/"><button type="button" class="btn btn-mini btn-secondary" style="margin-top:-8px;margin-left:5px;"><i class="glyphicon glyphicon-envelope"><span style="font-weight:900;vertical-align:1px;"> Contacto</span></i></button></a></li>
		<li><span small="Sitio optimizado para Google Chrome"></small></li>
        <li><a href="{{ site.url }}/editorial/"><button type="button" class="btn btn-mini btn-secondary" style="margin-top:-8px;margin-left:5px;"><span class="glyphicon glyphicon-calendar" style="font-weight:900;vertical-align:1px"> Editorial</span></i></button></a></li>
		<li><a href="{{ site.url }}/home/"><button type="button" class="btn btn-mini btn-default active" style="background:#c1b022;margin-top:-8px;margin-left:5px;"><span class="glyphicon glyphicon-user" style="font-weight:900;vertical-align:1px"> Home</span></i></button></a></li>
    </ul>

  <!--</div>-->
					
</div>
	
<!--   END MENU   -->


<ul class="btn-group mr-2" role="group" aria-label="Group unívoco">
  <li><a href="{{ site.url }}/noticias"><button type="button" class="btn btn-mini btn-default active" style="background:#c1b022;margin-top:-8px;margin-left:5px;horizontal-align:5px;"><i class="glyphicon glyphicon-home"><span style="font-weight:900;vertical-align:1px;"> Noticias</span></i></button></a></li>
<ul>