<!-- Marcado JSON-LD generado por el Asistente para el marcado de datos estructurados de Google. -->
<script type="application/ld+json">
[ {
  "@context" : "http://schema.org",
  "@type" : "Event",
  "name" : "Intermedio 2018: Peñarol 6:0 River (Grupo B)",
  "startDate" : "2018-05-20T19:00",
  "location" : {
    "@type" : "Place",
    "address" : {
      "@type" : "PostalAddress",
      "addressLocality" : "Montevideo",
      "addressRegion" : "Montevideo",
      "addressCountry" : "Uruguay"
    }
  },
  "image" : "https://i.imgur.com/7OfO3hk.jpg",
  "description" : "En un encuentro que fué todo de Peñarol en la despedida del Cebolla y Varela, quedan afectados con la selección, hubo una fiesta de goles. Peñarol dió cuenta de River por 6:0, marcaron Palacios 2, Arias, el Cebolla y Maxi Rodriguez, gran partido de Formiliano...",
  "url" : "https://xn--capearol-g3a.cf/inicio/futbol/uruguayo/intermedio/2018/05/22/intermedio-penarol-aplasto-a-river-plate-darsenero-6-0.html"
}, {
  "@context" : "http://schema.org",
  "@type" : "Event",
  "name" : "Intermedio 2018: Peñarol 6:0 River (Grupo B)",
  "startDate" : "2018-05-20T19:00",
  "location" : {
    "@type" : "Place",
    "address" : {
      "@type" : "PostalAddress",
      "addressLocality" : "Montevideo",
      "addressRegion" : "Montevideo",
      "addressCountry" : "Uruguay"
    }
  },
  "image" : "https://i.imgur.com/b9ihbS4.jpg",
  "description" : "En un encuentro que fué todo de Peñarol en la despedida del Cebolla y Varela, quedan afectados con la selección, hubo una fiesta de goles. Peñarol dió cuenta de River por 6:0, marcaron Palacios 2, Arias, el Cebolla y Maxi Rodriguez, gran partido de Formiliano...",
  "url" : "https://xn--capearol-g3a.cf/inicio/futbol/uruguayo/intermedio/2018/05/22/intermedio-penarol-aplasto-a-river-plate-darsenero-6-0.html"
}, {
  "@context" : "http://schema.org",
  "@type" : "Event",
  "name" : "Intermedio 2018: Peñarol 6:0 River (Grupo B)",
  "startDate" : "2018-05-20T19:00",
  "location" : {
    "@type" : "Place",
    "name" : "Campeón del Siglo",
    "address" : {
      "@type" : "PostalAddress",
      "addressLocality" : "Montevideo",
      "addressRegion" : "Montevideo",
      "addressCountry" : "Uruguay"
    }
  },
  "image" : "https://i.imgur.com/8qsoUp3.jpg",
  "description" : "En un encuentro que fué todo de Peñarol en la despedida del Cebolla y Varela, quedan afectados con la selección, hubo una fiesta de goles. Peñarol dió cuenta de River por 6:0, marcaron Palacios 2, Arias, el Cebolla y Maxi Rodriguez, gran partido de Formiliano...",
  "url" : "https://xn--capearol-g3a.cf/inicio/futbol/uruguayo/intermedio/2018/05/22/intermedio-penarol-aplasto-a-river-plate-darsenero-6-0.html"
} ]
</script>
