    <div id="myCarousel" class="carousel slide encomienda" data-ride="carousel" style="color:yellow;">
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		  <li data-target="#myCarousel" data-slide-to="1"></li>
		  <li data-target="#myCarousel" data-slide-to="2"></li>
		  <li data-target="#myCarousel" data-slide-to="3"></li>
		  <li data-target="#myCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
	  <div class="carousel-item  carousel-slider active" role="listbox">
            <img class="first-diabilden" src="https://i.imgur.com/tqT8hX0.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h3 style="font-family:fantasy;"><a href="{{ site.url }}/">Si la resonancia magnética confirma al mediodá la rotura de ligamentos cruzados se terminó esta temporada para el pobre Gargano</a></h3>
                <p>REZAMOS POR EL MOTA PARA QUE SAFE DE ESTA COMPLICACIÓN, OPERACIÓN, ETC Y QUE NO SEA NADA COMPLICACIÓN Y NO SEA NADA</p>
                <p><a class="btn btn-mini btn-secondary" href="{{ site.url }}/futbol/uruguayo/apertura/2018/03/22/se-sospecha-de-una-mala-que-gargano-tenga-los-ligamentos-cruzados-rotos-ojala-la-resonancia-diga-que-no-y-no-se-concrete-la-mala/" role="button" style="font-family:fantasy;font-size:0.4;font-style:italic;color:#000;background:yellow;">leer más!</a></p>
                                <!--<p><a class="btn btn-mini btn-secondary" href="{{ site.url }}/futbol/uruguayo/apertura/imagenes/2018/02/27/imagenes-de-penarol-2-1-liverpool-en-el-cds-propenarol-r/" role="button" style="font-family:fantasy;font-size:0.4;font-style:italic;color:#000;background:yellow;float:right;">Imágenes del partido!</a></p>-->
              </div>
            </div>
          </div>
	  
	  <div class="carousel-item  carousel-slider" role="listbox">
            <img class="second-diabilden" src="https://i.imgur.com/ptfE4u9.jpg" alt="Second slide">
            <div class="container">
              <div class="carousel-caption text-right"> 
                <h3 style="font-family:fantasy;">Peñarol doblegó a Atenas en el Campus de Maldonado con goles de Formiliano y Cristian Palacios</h3>
                <p></p>
                <p><a class="btn btn-mini btn-secondary" href="{{ site.url }}/futbol/uruguayo/apertura/2018/03/25/penarol-doblego-a-atenas-en-el-campus-de-maldonado-con-goles-de-formiliano-y-cristian-palacios/" role="button" style="font-family:fantasy;font-size:0.4;font-style:italic;color:#000;background:yellow;">leer más!</a></p>
              </div>
            </div>
          </div>
		  
          <!--<div class="carousel-item  carousel-slider" role="listbox">
            <img class="third-diabilden" src="https://i.imgur.com/TqfS1VY.png" alt="Third slide">
            <div class="container">
              <div class="carousel-caption text-right"> 
                <h3 style="font-family:fantasy;">Lucas Hernández vió la roja directa</h3>
                <p>Que como no es reinsidente, el campeonato recién comienza se descarga en tiempo y forma y las 3 fechas se reducen a 2</p>
                <p><a class="btn btn-mini btn-secondary" href="{{ site.url }}/futbol/uruguayo/apertura/2018/02/26/penarol-2-1-liverpool-por-el-apertura-en-el-cds/" role="button" style="font-family:fantasy;font-size:0.4;font-style:italic;color:#000;background:yellow;float:left;">Análisis del partido!</a></p>
				<p><a class="btn btn-mini btn-secondary" href="{{ site.url }}/futbol/uruguayo/apertura/imagenes/2018/02/27/imagenes-de-penarol-2-1-liverpool-en-el-cds-propenarol-r/" role="button" style="font-family:fantasy;font-size:0.4;font-style:italic;color:#000;background:yellow;float:right;">Imágenes del partido!</a></p>
              </div>
            </div>
          </div>-->
		  <!--<div class="carousel-item  carousel-slider" role="listbox">
            <img class="fourth-diabilden" src="https://i.imgur.com/Ij8kpHy.jpg" alt="Fourth slide">
            <div class="container">
              <div class="carousel-caption text-right"> 
                <h3 style="font-family:fantasy;">Peñarol perdió 2 puntos en el partido del sábado contra Wanderers, pero todavía no sonó</h3>
                <p></p>
                <p><a class="btn btn-mini btn-secondary" href="{{ site.url }}/futbol/uruguayo/apertura/2018/02/18/penarol-dejo-2-puntos-en-el-parque-viera-ante-wanderers/" role="button" style="font-family:fantasy;font-size:0.4;font-style:italic;color:#000;background:yellow;">leer más!</a></p>
              </div>
            </div>
          </div>-->
		  <!--<div class="carousel-item  carousel-slider" role="listbox">
            <img class="first-diabilden" src="https://i.imgur.com/0tkaIwr.jpg" alt="First slide">
            <div class="container">
              <div class="carousel-caption text-right"> 
                <h4>Racing 0:2 Peñarol</h4>
                <p>Peñarol derrotó a Racing Club de Montevideo por 0:2 en el inicio del Campeonato Apertura, los goles fueron marcados por Fidel Martínez y Lucas Hernández.</p>
                <p><a class="btn btn-mini btn-secondary" href="{{ site.url }}/futbol/apertura/2018/02/05/peñarol-capto-los-primeros-3-puntos-del-apertura/" role="button" style="font-family:fantasy;font-size:0.4;font-style:italic;color:#000;float:left;background:yellow;">ver análisis!</a><a class="btn btn-mini btn-secondary" href="{{ site.url }}/imagenes-racing-peñarol/" role="button" style="font-family:fantasy;font-size:0.4;font-style:italic;color:#000;float:right;background:yellow;">ver imágenes!</a></p>
              </div>
            </div>
          </div>
		  <div class="carousel-item  carousel-slider" role="listbox">
            <img class="second-diabilden" src="https://i.imgur.com/kbF2eLy.jpg" alt="Second slide">
            <div class="container">
              <div class="carousel-caption text-right"> 
                <h4>Racing 0:2 Peñarol</h4>
                <p><a class="btn btn-mini btn-secondary" href="{{ site.url }}/futbol/apertura/2018/02/05/peñarol-capto-los-primeros-3-puntos-del-apertura/" role="button" style="font-family:fantasy;font-size:0.4;font-style:italic;color:#000;float:left;background:yellow;">ver análisis!</a><a class="btn btn-mini btn-secondary" href="{{ site.url }}/imagenes-racing-peñarol/" role="button" style="font-family:fantasy;font-size:0.4;font-style:italic;color:#000;float:right;background:yellow;">ver imágenes!</a></p>	
              </div>
            </div>
          </div>--> 
          
          <div class="carousel-item  carousel-slider" role="listbox">
            <img class="fifth-diabilden" src="{{ site.url }}/images/image20.jpg" alt="Fifth slide">
            <div class="container">
              <div class="carousel-caption text-right">
                <h3 style="font-family:fantasy;">Trabajá para Peñarol!</h3>
                <p>Si queres sumar para Peñarol podes dedicarle unas horas de tu tiempo libre y compartir la ganancia con Peñarol.</p>
                <p><a class="btn btn-mini btn-secondary" href="{{ site.url }}/contactenos" role="button" style="font-family:fantasy;font-size:0.4;font-style:italic;color:#000;background:yellow;float:right">Apuntáte Hoy!</a></p>
              </div>
            </div>
          </div>
        </div>
        
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
	
