
	<h1>Compartir este artículo!:
		  <a href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"><i class="glyphicon glyphicon-facebook" style="font-size:1.5em;margin-right:50px;padding:10px;"></i></a>
           <span> </span>
          <a href="{{ site.url }}/{{ page.url }}/?share=twitter&nb=1"><i class="glyphicon glyphicon-twitter rounded" style="font-size:1.5em;margin-right:50px;padding:10px;"></i></a>
           <span> </span>
          <a href="https://plus.google.com/share?url={{ site.url }}/{{ page.url }}"><i class="glyphicon glyphicon-google-plus rounded" style="font-size:1.5em;margin-right:50px;padding:10px;"></i></a>
           <span> </span>
          <a href="https://pinterest.com/pin/create/button/?url={{ site.url }}/{{ page.url }}&media={{ site.url }}/images/g5627.png&description={{ page.description }}"><i class="glyphicon glyphicon-pinterest rounded" style="font-size:1.5em;margin-right:50px;padding:10px;"></i></a>
           <span> </span>
          <a href="{{ site.url }}/{{ page.url }}/?share=reddit&nb=1"><i class="glyphicon glyphicon-reddit rounded" style="font-size:1.5em;margin-right:50px;padding:10px;"></i></a>
           <span> </span>
          <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}/{{ page.url }}&title={{ page.title }}&summary=&source="><i class="glyphicon glyphicon-linkedin rounded" style="font-size:1.5em;margin-right:50px;padding:10px;"></i></a>
           <span> </span>
          <a href="{{ site.url }}/{{ page.url }}/?share=instagram&nb=1"><i class="glyphicon glyphicon-instagram rounded" style="font-size:1.5em;margin-right:50px;padding:10px;"></i></a>
           <span> </span>
          <a href="{{ site.url }}/{{ page.url }}/?share=youtube&nb=1"><i class="glyphicon glyphicon-youtube rounded" style="font-size:1.5em;margin-right:50px;padding:10px;"></i></a>
	</h1>
	
	<br>
<!--	
	<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	  <header class="post-header">
	   <h1 class="title post-title font-effect-shadow-multiple" itemprop="name headline" style="font-family:monospace;color:#3e3434;"><a href="#" style="color:#3e3434;text-decoration:none;"><span class="font-effect-shadow-multiple" style="color:#3e3434;">{{ post.title | escape }}</span></a>
	   </h1>
	   <p class="byline post-meta">Postiado <i class="glyphicon glyphicon-calendar" style="padding:10px;"></i>
			<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
				{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
				{{ post.date | date: date_format }}
			</time>
			{% if post.author %}
				por <a href="http://capeñarol.cf" rel="nofollow"><span style="margin-left:8px;margin-right:5px;"><img src="images/user.png" width="25px" style="vertical-align:-3.0px;border:1px solid #fff;padding:10px;">
				<span itemprop="author" itemscope itemtype="http://schema.org/Person"><p itemprop="name">CAPeñarol.CF</p></span></span></a>
			{% endif %}
			{% if post.tiempo_de_lectura %}
				<i class="glyphicon glyphicon-time"></i> <span>lectura: {{ post.tiempo_de_lectura }}</span>
			{% endif %}
		</p>
	   </header>
	   
	   <br>
	   
	   <div class="entry post-content" itemprop="articleBody">
		{{ content }}
		<center>
		  <span style="font-family:roboto;font-weight:900;font-size:20px;border:2px solid #ccc;color:#ccc;background:url(assets/images/img05.png) no-repeat top left;"><span class="font-effect-shadow-multiple" style="color:black;">CAPeñarol.CF</span></span> 
		</center>
       </div>
    </article>
-->
{% include article.html %}
	<br>
	
	<h1>Compartir este artículo!:
		  <a href="https://facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"><i class="fa fa-facebook rounded" style="font-size:1.5em;margin-right:50px;"></i></a>
           <span> </span>
          <a href="{{ site.url }}/{{ page.url }}/?share=twitter&nb=1"><i class="fa fa-twitter rounded" style="font-size:1.5em;margin-right:50px"></i></a>
           <span> </span>
          <a href="https://plus.google.com/share?url={{ site.url }}/{{ page.url }}"><i class="fa fa-google-plus rounded" style="font-size:1.5em;margin-right:50px;"></i></a>
           <span> </span>
          <a href="https://pinterest.com/pin/create/button/?url={{ site.url }}/{{ page.url }}&media={{ site.url }}/images/g5627.png&description={{ page.description }}"><i class="fa fa-pinterest rounded" style="font-size:1.5em;margin-righ
t:50px;"></i></a>
           <span> </span>
          <a href="{{ site.url }}/{{ page.url }}/?share=reddit&nb=1"><i class="fa fa-reddit rounded" style="font-size:1.5em;margin-right:50px;"></i></a>
           <span> </span>
          <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}/{{ page.url }}&title={{ page.title }}&summary=&source="><i class="fa fa-linkedin rounded" style="font-size:1.5em;margin-right:50px;"></i></a>
           <span> </span>
          <a href="{{ site.url }}/{{ page.url }}/?share=instagram&nb=1"><i class="fa fa-instagram rounded" style="font-size:1.5em;margin-right:50px;"></i></a>
           <span> </span>
          <a href="{{ site.url }}/{{ page.url }}/?share=youtube&nb=1"><i class="fa fa-youtube rounded" style="font-size:1.5em;margin-right:50px;"></i></a>
	</h1>
	
	<br>

	<br>

	<br>
	
	{% if page.comments %}
        <div id="comments" style="color:yellow;">
	<style>
		a {
		color: yellow;
	}
	</style>
			<div id="disqus_thread"></div>
                <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                        var disqus_shortname = 'capenarol-cf'; // required: replace example with your forum shortname
                        var disqus_developer = 1;
                        // var disqus_developer = 1; // Comment out when the site is live
                        var disqus_identifier = "{{ page.url }}";

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a><p class="links"><a href="#" class="mas"><span style="vertical-align:-11.5px;">Mas</span></a></p><hr />
        </div>
	{% endif %}
		
				
