		   <div>
		   {{ for post in site.posts }}
			<div class="post">
				<h1 class="title"><a href="{{ post.url }}"><span>{{ post.title }}</span></a></h1>
				<p class="byline">Posted on {{ date | time }} by <a href="http://xn--capearol-g3a.cf" rel="nofollow"><img src="images/user.png" width="65px" style="vertical-align:0;">CAPeñarol.CF</a></p>
				<div class="entry">
					
					        <p><img src="{{ post.image1 }}" class="img left"><span>{{ post.description }}</span></p>
						<p class="links"><a href="{{ post.url }}" class="more"><button type="button" class="btn btn-mini btn-secondary">leer más</button></a></p>
						
				</div>
			</div>
			<div class="post">
				<h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<p class="byline">Posted on {{ date | time }} by <a href="http://xn--capearol-g3a.cf" rel="nofollow"><img src="images/user.png" width="65px" style="vertical-align:0;">CAPeñarol.CF</a></p>
				<div class="entry">
					<h3>{{ post.title }}</h3>
					<blockquote>
						<p>&#8220;Blockquote.&#8221;</p>
					</blockquote>
					<h3>Bulleted List:</h3>
					<ul>
						<li>item-1.</li>
						<li>item-2.</li>
						<li>item-3.</li>
					</ul>
					<h3>Numbered List:</h3>
					<ol>
						<li>item-1.</li>
						<li>item-2.</li>
						<li>item-3.</li>
					</ol>
					<p class="links"><a href="{{ post.url }}" class="more"><button type="button" class="btn btn-mini btn-secondary">leer más</button></a></p>
				</div>
			</div>
			<div class="post">
				<h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
				<p class="byline"><small>Posted on {{ date | time }} by <a href="http://xn--capearol-g3a.cf" rel="nofollow"><img src="images/user.png">CAPeñarol.CF</a></small></p>
				<div class="entry">
					<p><img src="{{ post.image1 }}" class="img left">{{ post.description }}</p>
					<p class="links"><a href="{{ post.url }}" class="more"><button type="button" class="btn btn-mini btn-secondary">leer más</button></a></p>
				</div>
			</div>
                {{ endfor }}
		</div>
