
    <script type='application/ld+json'>

    {

    "@context": "http://www.schema.org",

    "@type": "SportsEvent",

    "name": "Torneo Intermedio: Peñarol vs River Plate (CDS)",

     "url": "https://xn--capearol-g3a.cf/inicio/futbol/uruguayo/intermedio/2018/05/20/penarol-se-enfrenta-a-river-desde-las-19-00/",

    "description": "Peñarol enfrenta a River desde las 19:00 hs en el CDS",

    "startDate": "20/05/2018 19:00",

    "endDate": "20/05/2018 20:45",

    "location": 
		"address": {

		    	"@type": "PostalAddress",

		    	"streetAddress": "Estadio Campeón del Siglo",

		    	"addressLocality": "Montevideo",

		    	"addressRegion": "Montevideo",

		    	"addressCountry": "Uruguay"

		      }

    }

    </script>

