<!-- Marcado JSON-LD generado por el Asistente para el marcado de datos estructurados de Google. -->
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Event",
  "name" : "Intermedio 2018: Atenas 1:2 Peñarol (Estadio Domingo Burgueño)",
  "startDate" : "2018-05-26T19:00",
  "url" : "https://xn--capearol-g3a.cf/futbol/uruguayo/intermedio/2018/05/27/intermedio-2018-atenas-san-carlos-1-2-penarol/",
  "location" : {
    "@type" : "Place",
    "name" : "Estadio Domingo Burgueño",
    "address" : {
      "@type" : "PostalAddress",
      "addressLocality" : "Maldonado",
      "addressRegion" : "Maldonado",
      "addressCountry" : "Uruguay"
    }
  },
  "image" : [ "https://i.imgur.com/MNeUeez.jpg", "https://i.imgur.com/y5B1D51.jpg" ]
}
</script>
