		
		<!--<center style="background-color:#000;">
			<span style=""><img src="{{ site.url }}/images/locomotora3.png" style="" height="220px;" /></span>
		</center>-->
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark locomotora">
		  <a class="navbar-brand" href="{{ site.url }}"><img src="{{ site.url }}/images/banderadeargentina.png" width="40px;" style="margin-right:15px;" ALT="Bandera Argentina"><img src="{{ site.url }}/images/banderadeecuador.png" width="40px;" style="margin-right:15px;" ALT="Bandera Ecuador"><img src="{{ site.url }}/images/banderadeuruguay.png" width="40px;" ALT="Bandera Uruguay"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarCollapse">
		    <ul class="navbar-nav mr-auto">
		      <!--class="nav-item active">
			<a class="nav-link" href="#">Home <span class="sr-only">current</span></a>
		      </li>
		      <li class="nav-item active">
			<a class="nav-link" href="#">Link</a>
		      </li>
		      <li class="nav-item">
			<a class="nav-link disabled" href="#">Disabled</a>
		      </li>-->
		    </ul>
			<img src="{{ site.url }}/images/191.gif" width="40px;">
		  </div>
		</nav>
			
