<script type='application/ld+json'>
        {

                "@context" : "http://www.schema.org",

                "@type" : "SportsClub",

                "name" : "Club Atlético Peñarol",

                "url": "{{ site.url }}",

                "logo" : "{{ site.url }}/assets/images/g829.png",

                "location" : {
				    "name: "Estadio: Campeón del Siglo (CDS)",
					"@type" : "Place",
					"address" : {
						"@type" : "PostalAddress",
						"addressLocality" : "Montevideo",
						"addressRegion" : "Montevideo",
						"addressCountry" : "Uruguay"
						}
                }
        }
</script>