$brand-primary:			#2C4449 !default;
$body-bg:				karma !default;
$text-color:			#ffffff !default;
$font-family-base:		Tahoma, Arial, Helvetica, sans-serif !default;
$font-size-base:		12px !default;
$font-size-h1:			1.6em !default;
$font-size-h3:			1.4em !default;
$line-height-base:		1.3333333 !default;
