<!DOCTYPE html>
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Gestured
Description: A three-column, fixed-width blog design.
Version    : 1.0
Released   : 20091004

-->
<html xmlns="http://www.w3.org/1999/xhtml" lang="es_UY">

{% include head.html %}

        <body style="background-color:#000;"> <!--#bfaf79-->

          <!--<div class="headerpordos" style="vertical-align:-90px;position:fixed;">  -->

            {% include sponsors.html %}

          <!--</div> -->

                                <!-- start wrapper -->
                                <div id="wrapper" style="margin-top:90px;">

                                                {% include menuvertical.html %}

                                                <!-- start header -->
                                                <div id="header" class="col-xs-10">

                                                  {% include menuhorizontaleditorial.html %}

												</div>
                                                <!-- end header -->

						                                <!-- start page -->
                                                        <div id="page" style="margin:0 464px auto;">

                                                            {% include sidebar1.html %}

                                                            <!-- start content -->
                                                            <div id="content">

                                                                {{ content }}

                                                            </div>
                                                            <!-- end content -->

                                                            {% include sidebar2.html %}

                                                            <div style="clear: both;">&nbsp;</div>
                                                        </div>
                                                        <!-- end page -->
							
                                </div>
                                <!-- end wrapper -->

                                {% include footer.html %}
                                <!-- Placed at the end of the document so the pages load faster -->
                                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                                <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min\
.js"><\/script>')</script>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
                                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
        <script src="{{ site.url }}/assets/js/util.js"></script>
        <script src="{{ site.url }}/assets/js/holder.js"></script>
        <script src="{{ site.url }}/assets/js/carousel.js"></script>
        <script src="{{ site.url }}/assets/js/jquery.contextMenu.min.js.map"></script>
        <script src="{{ site.url }}/assets/js/vendor/jquery-slim.min.js"></script>
        <script>
          $(function() {
          // Test to show that the carousel doesn't slide when the current tab isn't visible
            $('#carousel-example-generic').on('slid.bs.carousel', function(event) {
              console.log('slid at ', event.timeStamp)
            })
          })
        </script>

      </body>
</html>
