---
layout: default
title: "Blog CA Peñarol"
name: index.html
paginate: true
description: "Lista de entradas del Blog Carbonero del CAPeñarol."
author: CAPeñarol
tags: Club Atlético Peñarol Blog Carbonero CAPeñarol.CF lista entradas
---

<html>
<center>
   <h1 style="border:1px solid #fff;background:#fff;color:#3c4449;font-weight:900;margin-top:100px;">
		Entradas:
   </h1>
</center>

{% for post in paginator.posts %}

<br>
<br>
<br>

<div class="post">
   
  <p class="byline" style="color:#fff;border:1px solid #fff;background:#3c4449;width:520px;padding-left:10px;margin-bottom:10px;" width="520px">
    Postiado en
   <i class="glyphicon glyphicon-calendar" style="padding:5px;"></i> 
   <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
    	{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
   	{{ post.date | date: date_format }}
   </time>
   {% if post.author %}
   <span style="padding:5px;">
    por
   </span> 
   <a href="http://capeñarol.cf" rel="nofollow">
     <i class="glyphicon glyphicon-user" style="padding:5px;color:yellow;"></i>
     <span style="color:yellow;font-weight=900;">
       CAPeñarol.CF
     </span>
   </a>
   {% endif %}
   {% if post.tiempo_de_lectura %}
   <i class="glyphicon glyphicon-time" style="padding:5px;"></i> 
   <span>
      lectura: {{ post.tiempo_de_lectura }}
   </span>
   {% endif %}
  </p>
 
 <p>
  {% if post.image2 %}
   <img src="{{ post.image2 }}" class="right" height="300px" style="border:2px solid #fff;">
  {% endif %} 
  <h1 class="title font-effect-shadow-multiple" style="font-family:;letter-spacing:0;"> <!-- <h1 style="color:#3e3434;">-->
    <a href="{{ post.url }}" style="text-decoration:none;">
      <span class="font-effect-shadow-multiple" style="color:#3e3434;">
	{{ post.title }}
      </span>
    </a>
  </h1>
 
  <br>

  <div id="border-guzmán" style="border:2px solid #fff;"></div>
 </p>
     
<!--<h1 class="title post-title font-effect-shadow-multiple" style="margin-top:0px;"><a href="{{ post.url }}"><span style="color:#3e3434;margin-top:0px;">{{ post.title }}</span></a></h1>
-->
  <br>
    
 <div class="entry">
  <p>
    {% if post.image1 %}
   <img src="{{ post.image1 }}" class="right" width="300px" style="border:2px solid #fff;">
    {% endif %}
    
    <!--{% if post.image2 %} -->
   <!--<img src="{{ post.image2 }}" class="right" height="300px" style="padding:10px;">-->
    <!--{% endif %}--> 
    {{ post.description }}
  </p>
  <p class="links">
   <a class="links btn btn-primary" href="{{ post.url }}" role="button"><!-- style="background:#3e3434;">-->
    <span class="more" style="vertical-align:5px;color:#fff;">
      Más
    </span>
   </a>
  </p>

  <br>
  <br>
  <br>

 </div>
    
</div>                                                
         
{% endfor %}

<br>

<br>

<br>



<!-- Pagination links -->
<div class="pagination" style="border:2px solid #fff;background:#fff;">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}" class="btn btn-primary previous" style="margin-right:10px;font-weight:900;"><i class="glyphicon glyphicon-chevron-left"></i> Previous</a>
  {% else %}
    <span class="previous" style="margin-right:10px;font-weight:900;"><i class="glyphicon glyphicon-chevron-left"></i> Previous</span>
  {% endif %}
  <span class="page_number " style="margin-right:10px;font-weight:900;color:#3e3434;"> Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}" class="btn btn-primary next" style="margin-right:10px;font-weight:900;">Next <span> </span><i class="glyphicon glyphicon-chevron-right"></i></a>
  {% else %}
    <span class="next" style="margin-right:10px;font-weight:900;">Next <span> </span><i class="glyphicon glyphicon-chevron-right"></i></span>
  {% endif %}
</div>              
</html>
